version: "3"

networks:
  proxy:

services:
  nginx-proxy:
    image: "nginx:latest"
    ports:
      - 80:80
    volumes:
      - './proxy.conf:/etc/nginx/conf.d/default.conf'
    networks:
      - proxy

  mysql:
    image: "mysql:8"
    ports:
      - 3306:3306
    volumes:
      - "./data/mysql:/var/lib/mysql"
      - "./initial_data/mysql/user_password.sql:/docker-entrypoint-initdb.d/user_password.sql"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    networks:
      - proxy

  redis:
    image: "redis:6-alpine"
    ports:
      - 6379:6379
    volumes:
      - "./data/redis:/data"
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - proxy

  memcached:
    image: "memcached"
    ports:
      - "11211:11211"
    networks:
      - proxy

  mailhog:
    image: "mailhog/mailhog"
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      proxy:
        aliases:
          - mailhog.test
